.container {
  display: grid;
  grid-template-columns: auto;
}

.input-map {
  display: grid;
  grid-template-columns: auto 5rem;
  text-align: center;
}

#productForm {
  display: grid;
  grid-template-columns: 30% 20% auto auto;
  gap: 1.2rem;
}

#productForm div {
  display: flex;
  flex-direction: row;
}

.twocolumns {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.twocolumns div {
  flex-basis: 45%;
}
